.movie-page {
  padding: 30px 0;
}

.showsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 95%;
  padding-top: 30px;
  justify-content: space-around;
  color: #ddd;
}

.movie-page .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.count-pill {
  display: block;
  background-color: var(--secondary);
  padding: 5px 15px;
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 999px;
  color: var(--primary);
}

.movie-page .heading {
  color: #000;
  margin: 0;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

@media (min-width: 992px) {
  .movie-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.movie-card {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  border: 0;
  display: block;
}

.movie-card:hover {
  transform: scale(1.07);
  transition: transform 0.5s;
}

.movie-card img {
  width: 100%;
  height: 100%;
  display: block;
}

.movie-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.movie-card:hover .overlay {
  border: 3px solid var(--secondary);
}

.movieInfo {
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  flex-direction: 'row';
}

.movie-card .inner-card-controls {
  display: inline;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 3px;
  opacity: 0;
  transition: all 0.3s ease;
}

.nextEpisode {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.movie-card:hover .inner-card-controls {
  opacity: 1;
}

.ctrl-btn {
  color: #fefefe;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
  font-size: 1.25rem;
  padding: 15px;
  margin: 0px;
}

.ctrl-btn:hover {
  color: var(--secondary);
  cursor: pointer;
}

.movie-page .no-movies {
  color: #c4c4c4;
  font-size: 3rem;
  text-align: center;
}




